<h1>All Items</h1>

<div class="row">
<% @items.each do |item| %>
  <div class="col s4">
    <div class="card">
      <div class="card-image">
        <% if item.image_tag %>
          <img class="image-format" src="<%= item.image_tag %>" />
        <% else %>
          <img class="image-format" src="<%= item.image.url %>" />
        <% end %>
      </div>
      <div class="card-content">
         <span class="card-title"><%=item.title%></span>
         <ul>
           <li><%= item.description %></li>
           <li><%= item.item_status %></li>
         </ul>
      </div>
      <div class="card-action">
        <%= link_to "Edit", edit_admin_item_path(item) %>
      </div>
    </div>
  </div>
<% end %>
</div>
