<h1>All Items</h1>

<table class="items striped">
  <tr>
    <th>Image</th>
    <th>Item</th>
    <th>Description</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
  <% @items.each do |item| %>
    <tr>
      <td class="avatar">
        <% if item.image_tag %>
          <img class="image-format" src="<%= item.image_tag %>" class="circle" />
        <% else %>
          <img class="image-format" src="<%= item.image.url %>" class="circle" />
        <% end %>
      </td>
      <td><%= link_to item.title, admin_item_path(item) %></td>
      <td class="truncate"><%= item.description %></td>
      <td><%= item.item_status %></td>
      <td><%= link_to "Edit", edit_admin_item_path(item) %></td>
    </tr>
  <% end %>
</table>
