<h1>All Items</h1>

<table class="items striped">
  <tr>
    <th>Image</th>
    <th>Item</th>
    <th>Description</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
  <% @items.each do |item| %>
    <tr>
      <td class="avatar" id="admin-item-image">
        <% if item.image_tag %>
          <img src="<%=item.image_tag%>" width=75px height=75px class="circle"/></td>
        <% else %>
          <img src="<%= item.image.url %>" width=75px height=75px class="circle"/></td>
        <% end %>
      </td>
      <td class="item-description-head"><%= link_to item.title, admin_item_path(item) %></td>
      <td class="truncate admin-item-description"><%= item.description %></td>
      <td><%= item.item_status %></td>
      <td><%= link_to "Edit", edit_admin_item_path(item), class: "btn" %></td>
    </tr>
  <% end %>
</table>
