<h4>Create New Item</h4>

<%= form_for [:admin, @item], html: {multipart: true} do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.label :price%>
  <%= f.text_field :price%>

    <%= f.label :category %>
    <select class="browser-default" name= "item[category]">
      <% @categories.each do |category| %>
          <option value="<%= category.id %>"><%= category.name %></option>
      <% end %>
    </select></br>
    <%= f.submit "sort orders", class: "waves-effect waves-light btn" %>
<% end %>
