<h1>Admin Dashboard</h1>
<%= link_to "Create New Item", new_admin_item_path, {class: "right waves-effect waves-light btn"} %>

<%= link_to "View All Items", admin_items_path %>

<div class="summary">
  <table>
    <tr>
      <th>Ordered</th>
      <td><%= @status["ordered"] %></td>
    </tr>
    <tr>
      <th>Paid</th>
      <td><%= @status["paid"] %></td>
    </tr>
    <tr>
      <th>Cancelled</th>
      <td><%= @status["cancelled"] %></td>
    </tr>
    <tr>
      <th>Completed</th>
      <td><%= @status["completed"] %></td>
    </tr>
  </table>
</div>
<br>

  <%= form_for(:session, url: admin_dashboard_path, method: :put) do |f| %>
    <%= f.label :status %>
    <select class="browser-default" name= "order[status]">
      <option value="" disabled selected>Choose your status</option>
      <option value = "ordered">Ordered</option>
      <option value = 'paid'>Paid</option>
      <option value = 'canceled'>Cancelled</option>
      <option value = 'completed'>Completed</option>
      <option value = 'all'>All Orders</option>
    </select></br>
    <%= f.submit "sort orders", class: "waves-effect waves-light btn" %>
  <% end %>
  <br>
  <br>
  <br>
  <table class="striped">
    <tr>
      <th>Order</th>
      <th>Status</th>
      <th>Change Status</th>
    </tr>
      <% @orders.each do |order| %>
      <tr>
        <td><%= button_to order.id, order, method: :get, class: "btn" %></td>
        <td><%= order.status %></td>
        <td>
        <% if order.status == "ordered" %>
          <%= button_to "Paid", admin_order_path(order, status: 'paid'), method: :put, class: "btn" %>
        <% end %>
        <% if order.status == "paid" %>
          <%= button_to "Complete", admin_order_path(order, status: 'completed'), method: :put, class: "btn" %>
        <% end %>
        <% if order.status == 'ordered' || order.status == 'paid' %>
          <%= button_to "Cancel", admin_order_path(order, status: 'canceled'), method: :put, class: "btn" %>
        <% end %>
        </td>
      </tr>
      <% end %>
  </table>
