<h1>Update</h1>

<%= form_for(@user) do |f| %>

  <%= f.label :first_name %>
  <%= f.text_field :first_name %>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %>

  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :current_password %>
  <%= f.password_field :current_password %>

  <%= f.label :current_password_confirmation %>
  <%= f.password_field :current_password_confirmation %>

  <%= f.label :new_password %>
  <%= f.password_field :new_password %>

  <%= f.label :new_password_confirmation %>
  <%= f.password_field :new_password_confirmation %>

  <%= f.submit "Update Account", class: "waves-effect waves-light btn" %>

<% end %>
