
<div class="container">
  <h1>Welcome, <%= current_user.first_name %>!</h1>
  <hr>
  <div class="row">
    <div class="user-info col s">
      <h5><%= current_user.first_name %> <%= current_user.last_name %></h5>
      <h5>Username: <%= current_user.username %></h5>
      <h5>Email: <%= current_user.email %></h5>
    </div>
    <div>
      <div class="my-links">
        <% if current_admin? %>
          <h5><%= link_to "Update Account Info", edit_user_path(current_user) %></h5>
        <% end %>
        <h5 class="my-orders"><%= link_to "My Orders", orders_path %></h5>
      </div>
    </div>
  </div>
</div>
