<h1>Order #<%= @order.id %></h1>

<hr>
  <table>
    <thead>
      <tr>
        <th>Item</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Subtotal</th>
      </tr>
    </thead>
    <tbody>
      <% @order.items.each do |item| %>
      <tr>
        <td><%= link_to item.title, item_path(item) %></td>
        <td><%= number_to_currency(item.price, precision: 2) %></td>
        <td><%= item.get_quantity_in_order(@order)%></td>
        <td><%= number_to_currency(item.get_order_item(@order).subtotal, precision: 2) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

<table>
  <thead>
    <tr>
      <th>Total</th>
      <th>Status</th>
      <th>Created At</th>
      <% unless @order.status == "ordered"  %>
        <th>Updated At</th>
      <% end  %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= number_to_currency(@order.total_price, precision: 2) %></td>
      <td><%= @order.status %></td>
      <td><%= @order.created_at %></td>
      <% unless @order.status == "ordered"  %>
        <th><%= @order.updated_at%></th>
      <% end  %>
    </tr>
  </tbody>
</table>
