<h1>Order #<%=@order.id %></h1>
<hr>
<% @order.items.each do |item| %>
<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>

      <tr>
        <td><%= link_to item.title, item_path(item) %></td>
        <td><%= item.price %></td>
        <td><%= item.get_quantity_in_order(@order)%></td>
      </tr>


    <% end %>
  </tbody>
</table>


<br>
<%= @order.status %>
