<h1>Username Cart</h1>
<h3 class='total'>Total: $<%= @cart.total %></h3>

<table>
  <thead>
    <tr>
        <th data-field="item-name">Item</th>
        <th data-field="quantity">Quantity</th>
        <th data-field="change-quantity">Change Quantity</th>
        <th data-field="price">Price</th>
    </tr>
  </thead>

  <tbody>
    <% @cart.contents.each do |item, quantity| %>
    <tr>
      <td><%= Item.find(item).title %></td>
      <td><%= quantity %></td>
      <td>
        <%= form_for(:session, url: cart_path, method: :put) do |f| %>
          <%= f.hidden_field :item_id, value: item %>
          <%= f.label :quantity %>
          <%= f.text_field :quantity, placeholder: @cart.contents[item] %>
          <%= f.submit "Update Cart" %>
        <% end %>
      </td>
      <td>$<%= Item.find(item).price %></td>
    </tr>
    <% end %>
  </tbody>
</table>
