<h1>Username Cart</h1>
<h3 class='total'>Total: $<%= @cart.total %></h3>

<table>
  <thead>
    <tr>
        <th data-field="item-name">Item</th>
        <th data-field="quantity">Quantity</th>
        <th data-field="price">Price</th>
    </tr>
  </thead>

  <tbody>
    <% @cart.contents.each do |item, quantity| %>
    <tr>
      <td><%= Item.find(item).title %></td>
      <td>
        <%= form_tag('/cart', method: :put) do %>
          <%= label_tag :quantity %>
          <%= number_field_tag :quantity, params[:quantity], min: 1, placeholder: quantity %>
        <% end %>
      </td>
      <td>$<%= Item.find(item).price %></td>
      <td><%= button_tag "Update Cart", method: :update %></td>
    </tr>
    <% end %>
  </tbody>
</table>
