<div class="row">
  <div class="col s2">
    <p>

    </p>
  </div>
  <div class="col s8">
    <div class="card">
      <div class="card-image">
        <% if @item.image_tag %>
          <img class="image-format" src="<%= @item.image_tag %>"/>
        <% else %>
          <img class="image-format" src="<%= @item.image.url %>"/>
        <% end %>
      </div>
      <div class="card-content">
          <span class="card-title"><%= @item.title %></span>
          <ul>
            <li>Price: <%= number_to_currency(@item.price, precision: 2) %></li>
            <li>Category: <%= @item.category.name %></li>
            <li>Description: <%= @item.description %></li>
          </ul>
          <% if @item.available? %>
            <%= button_to "Add to Cart", carts_path(item_id: @item.id) %>
          <% else %>
            <%= button_to "Retired", class: "btn disabled" %>
          <% end %>
      </div>
    </div>
  </div>
</div>
