<!DOCTYPE html>
<html>
  <head>
    <title>WeasleysWizardWheezes</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css" rel="stylesheet"/>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="/application.css">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render partial: 'shared/nav' %>
    <div class="container flash">
      <% flash.each do |type, message| %>
      <%= content_tag :div, sanitize(message), class: type %>
      <% end %>
    </div>
    <div class="container">
      <%= yield %>
    </div>
    <%= render partial: 'shared/footer' %>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
  </body>
</html>
